<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar">
  <div class="container">
    <div id="logo">1on1　面談</div>
    <ul class="header-right">
      <li><%=link_to "Top",root_path %></li>
       <li><%=link_to "About",about_path %></li>
        <li><%=link_to "Select",select_path %></li>
    <li><%=link_to "New",notes_new_path %></li>
     <li><%=link_to "Index",notes_path %></li>
    </ul>

  </div>
</header>
<%= yield %>

</body>
</html>
